.header {
	background-color: #fff;
	border-bottom: 1px #E6E6E6 solid;
	&__body {
		height: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
		@media (max-width: 768px){
			height: 60px;
		}
		@media (max-width: 420px){
			flex-wrap: wrap;
			column-gap: 20px;
			justify-content: center;
			height: 80px;
		}
	}

	&__title {
		text-transform: uppercase;
		font-weight: 800;
		font-size: 20px;
		color: #000000e3;
		position: relative;
		transition: all 0.3s ease 0s;
		&:hover {
			transform: scale(1.05);
		}
	}
	&__items {
		display: flex;
		column-gap: 40px;
	}

	&__item {
		a{
			color: #000;
			font-size: 16px;
			position: relative;
			&:after {
				content: "";
				position: absolute;
				bottom: 0px;
				left: 0;
				width: 0;
				height: 1px;
				transition: width 0.3s ease 0s;
				transition: all 0.3s ease 0s;
				background-color: #245f97;
			 }
			 &:hover {
				opacity: 1;
			 }
			 &:hover::after {
				opacity: 1;
				width: 100%;
			 }
		}
	}
}