.page {

	&__container {
		padding: 20px 10px;
	}

	&__title {
		font-size: 30px;
		text-align: center;
	}

	&__content {
		text-align: center;
		margin: 30px auto 10px;
	}

	&__image {
		margin: 0 auto;
		max-width: 800px;
		max-height: 500px;
		img {
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}

	&__text {
		margin-top: 50px;
		font-size: 18px;
	}

	&__author {
		margin-top: 10px;
		font-size: 16px;
		text-align: right;
	}
}
